body {
    background-color: steelblue;
    text-align: center;
    border: 1px;
    /* font-size: 24px; */
    
}

.masthead {
    padding: 6em 0;
    background-image: url('blackjack.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    font-size: 72px;
    color: magenta;
    position: relative;
    top: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
#credits {
    color: blueviolet;
    position: relative;
    top: 45px;
    font-style: italic;
    font-family: cursive;
}
  
#pg-container{
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; 
}

#text-area {
    font-size: x-large;
    font-style: italic;
    font-family: cursive;
    color: honeydew;
}

.gamebuttons, #new-game-button, #hit-button, #stay-button {
    background-color: midnightblue; /* midnight blue */ 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: cursive;
}

.footer{
    font-size: x-large;
    font-family: fantasy;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}